---
import ChevronDownIcon from "@heroicons/react/outline/esm/ChevronDownIcon";
import { Icon } from "astro-icon";
---

<>
  <section class="relative w-full pt-16 md:pt-0">
    <div id="compare-start" class="w-full flex items-start justify-center">
      <div
        id="pinned-element1"
        class="flex-1 items-center justify-center w-full py-auto"
      >
        <div class="flex flex-col items-center justify-center w-full">
          <h1
            class="text-center text-3xl sm:text-4xl pb-8 w-full px-3 md:px-0 md:w-2/3"
          >
            Websites don't need to be slow, it's 2022, let's use modern tech
          </h1>
          <div
            class="flex flex-col-reverse md:flex-row items-start justify-start md:justify-center w-full md:mx-auto md:space-y-0 md:space-x-4 space-y-10"
          >
            <div
              class="border border-white w-full h-80 md:w-96 sm:h-64 flex flex-col items-center justify-start rounded-t-md bg-white mt-8 md:mt-0"
            >
              <div class="w-full h-8 border border-white rounded-t-md">
                <div class="w-full h-full bg-white rounded-t-md">
                  <div class="flex h-full items-start justify-between">
                    <div class="flex space-x-1 pl-1.5">
                      <div class="h-2.5 w-2.5 bg-slate-300 rounded-full"></div>
                      <div class="h-2.5 w-2.5 bg-slate-300 rounded-full"></div>
                      <div class="h-2.5 w-2.5 bg-slate-300 rounded-full"></div>
                    </div>

                    <div
                      class="h-1/2 w-4/5 bg-white border border-slate-300 rounded-xl mt-3"
                    >
                    </div>
                  </div>
                  <div class="flex w-full h-full items-center justify-start">
                  </div>
                </div>
              </div>
              <div
                class="relative flex items-center justify-center w-full h-full dark:bg-slate-900"
              >
                <img
                  id="slow-page"
                  src="/assets/page.jpg"
                  class="aspect-auto absolute top-0 left-0 z-30"
                />

                <div
                  id="webpage1"
                  class="absolute top-0 left-0 bottom-0 w-full h-full bg-slate-900 z-10"
                >
                </div>

                <svg
                  id="spinner"
                  class="animate-spin spinner -ml-1 mr-3 h-5 w-5 text-slate-900 dark:text-slate-50/70 z-20"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path>
                </svg>
              </div>
            </div>
            <div
              class="border border-white w-full h-80 md:w-96 sm:h-64 flex flex-col items-center justify-start rounded-t-md bg-white z-50 overflow-hidden"
            >
              <div class="w-full h-8 border border-white rounded-t-md">
                <div class="w-full h-full bg-white rounded-t-md">
                  <div class="flex h-full items-start justify-between">
                    <div class="flex space-x-1 pl-1.5">
                      <div class="h-2.5 w-2.5 bg-slate-300 rounded-full"></div>
                      <div class="h-2.5 w-2.5 bg-slate-300 rounded-full"></div>
                      <div class="h-2.5 w-2.5 bg-slate-300 rounded-full"></div>
                    </div>

                    <div
                      class="h-1/2 w-4/5 bg-white border border-slate-300 rounded-xl mt-3"
                    >
                    </div>
                  </div>
                  <div class="flex w-full h-full items-center justify-start">
                  </div>
                </div>
              </div>
              <div
                class="flex items-center justify-center w-full h-full dark:bg-slate-900 relative"
              >
                <div id="webpage" class="w-full h-full bg-slate-900">
                  <div
                    id="nav"
                    class="absolute top-0 left-0 w-full flex items-center justify-between h-3 bg-slate-900 shadow-sm shadow-slate-800"
                  >
                    <div
                      class="flex items-center justify-center space-x-1 pl-16"
                    >
                      <span class="text-[8px] text-blue-400">
                        {`</>`}
                      </span>
                      <div class="flex items-center justify-center flex-col">
                        <span class="text-[6px] font-kumar text-slate-50/80">
                          {`Beanlea`}
                        </span>
                        <span class="text-[4px] -mt-1 pl-1.5">
                          Web Development
                        </span>
                      </div>
                    </div>

                    <div
                      class="flex items-center justify-center space-x-3 pr-20"
                    >
                      <div class="text-[3px] text-slate-50/70">Home</div>
                      <div class="text-[3px] text-slate-50/70">About</div>
                      <div class="text-[3px] text-slate-50/70">Projects</div>
                      <div class="text-[3px] text-slate-50/70">Contact</div>
                    </div>
                  </div>
                  <img src="/assets/page.jpg" class="aspect-auto" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="compare-end"></div>

  <div
    id="scroll-marker"
    class="text-white text-center sticky bottom-0 mx-auto w-fit animate-bounce z-[100]"
  >
    <ChevronDownIcon className="w-6 h-6" />
  </div>
</>
