@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-slate-900 bg-neutral-100 dark:text-neutral-100 text-slate-900 transition-colors duration-200 ease-in-out;
  }

  transition-fade {
    @apply opacity-100 transform transition-opacity duration-200 ease-in;
  }

  html > is-animating {
    @apply opacity-0 transform transition-opacity duration-[0] ease-out;
  }

  /*
		Animate page transitions with plain JS & CSS
		https://swup.js.org/
	*/
  /* .transition-fade {
    -webkit-animation: fadein 0.5s;
    transition: 0.4s;
    opacity: 1;
  } */
  /* html.is-animating .transition-fade {
    opacity: 0;
  } */
  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: GradientTransition 3s ease infinite;
  }

  @keyframes FadeIn {
    from {
      opacity: 0;
      duration: 0.4s;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes GradientTransition {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
