@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-slate-900 bg-neutral-100 dark:text-neutral-100 text-slate-900 transition-colors duration-200 ease-in-out;
  }
  /*
		Animate page transitions with plain JS & CSS
		https://swup.js.org/
	*/
  .transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  html.is-animating .transition-fade {
    opacity: 0;
  }
}
