---
import Layout from "../layouts/Main.astro";
---

<Layout
	title="Showcase - Beanlea Web Development"
	description="Beanlea Web Development - based in Cairns, Australia"
>
	<div>
		<h1 class="title mt4 mb4">All Projects</h1>
	</div>
</Layout>
