---
import Layout from "../layouts/Main.astro";
---

<Layout
  title="About - Beanlea Web Development"
  description="Beanlea Web Development - based in Cairns, Australia"
  url={"/about"}
>
  <div class="flex items-center justify-center">
    <img class="px-2 sm:px-0" src="/assets/image.gif" />
  </div>
</Layout>
